@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

html, body {
    background-color: rgb(173, 177, 176);
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.container {
    display: grid;
    place-items: center;
    padding-top: 12%;
    padding-right: 10%;
    padding-bottom: 20%;
    padding-left: 5%;
}

h1 {
    background-color:rgb(3, 255, 36);
    color: white;
    font-size: 40px; 
    font-weight: bold; 
    border: 2px solid #020006;
    border-radius: 10px;
    border-style: groove;
}

.container-1 {
    padding-top: 5%;
    padding-right: 20%;
    padding-left: 20%;
    
}

.container-p1 {
    text-align: center;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-style: groove;
    background-color: rgb(191, 193, 249);
    border-radius: 10px;
    padding: 3% 1%;
}

.section {
    display: flex;
    justify-content: center;
    padding-top: none;
}

.div-footer {
    display: grid;
    justify-content:center;
    align-items:center
    
}